.div {
    height: 100vh;
    width: 100wh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(238, 237, 243);

    
}

.card {
    background: white;
    height: 460px;
    width: 330px;
    border-radius: 7px;
    box-shadow: 5px 5px 5px 5px #888888;
}
.firstDiv{
    width: 100%;
    height: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #cceeff;
   
}
.header1 {
    height: 50px;
    width: "100%";
    background-color:rgb(245, 235, 235);
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 2px;
    border-radius: 7px;
    color: #0f0f70;
    
}
.secondDiv{
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.labelDiv{
  
  text-align: center;
  font-size: 18px;
  font-size: 15px;
  color: #0f0f70;
     margin-right: 20px;
}
   

.switch {
    position: relative;
    display: inline-block;
    width: 70px;
    height: 28px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
    
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #2196F3;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: tomato;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px tomato;
  }
  input:checked + .slider:before {
    -webkit-transform: translateX(40px);
    -ms-transform: translateX(40px);
    transform: translateX(40px);
  }
  .slider:after {
    content:'OFF';
    color: white;
    display: block;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    font-size: 10px;
    font-family: Verdana, sans-serif;
  }
  input:checked + .slider:after {
    content:'ON';
  }
  
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
   .Label{
       margin-top: -100px;
       margin-left: 60px;


   }
    
