.header {
    height: 50px;
    width: "100%";
    background-color:rgb(245, 235, 235);
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 2px;
    border-radius: 7px;
    color: #0f0f70;
    
}